/* components/BasicForm.module.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.input {
  margin-right: 50px;
  text-align: right;
  top: 40%;
  left: 50%;
}

.button {
  background-color: #1b245e;
  border-radius: 10rem;

  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin: 10px;
}

.button:hover {
  background-color: #0056b3;
}

.titles {
  margin-top: 16px;
  width: 100%;
  max-width: 800px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  background-color: #1b245e;
  color: white;
  text-align: center;
}

.table tr:nth-child(even) {
  background-color: #1b245e;
  color: white;
}

.table tr:hover {
  background-color: rgb(75, 85, 99);
  cursor: pointer;
}
