/* components/BasicForm.module.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 16px;
}

.form {
  display: flex;
  justify-content: flex-start; /* Align form to the left */
  align-items: center;
  width: 100%;
}

.input {
  margin-right: 8px;
}

.button {
  background-color: #1b245e;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 8px 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.titles {
  margin-top: 16px;
  width: 100%; /* Make sure the table takes full width */
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  background-color: #1b245e;
  text-align: center;
}

.table tr:nth-child(even) {
  background-color: #1b245e;
}

.table tr:hover {
  background-color: #ddd;
}
